flask==1.1.4
jinja2<3.1.0
markupsafe==2.0.1
Flask-SQLAlchemy==2.4.0
flask-migrate==2.5.2
Flask-RESTful==0.3.7
# flasgger==0.9.2
# connexion[swagger-ui]
alembic==1.0.10
psycopg2==2.8.2
sqlalchemy==1.4.48
requests
gunicorn
PyYAML
jsonschema
flask-cors
pyjwt
pycrypto==2.6.1
cryptography
tapipy==1.4.0
tapisservice==1.4.0
